/src/ @RealShadowNova
/tests/ @RealShadowNova
LICENSE.md @RealShadowNova

/.github/ @RealShadowNova
/.husky/ @RealShadowNova
/.vscode/ @RealShadowNova
package.json @RealShadowNova
README.md @RealShadowNova
